.App {
  text-align: center;
  padding: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@font-face {
  font-family: "DS-DIGIB";
  src: local("DS-DIGIB"),
  url(./fonts/DS-DIGIB.TTF)
  format("truetype");
}
.App-header {
  font-family: "DS-DIGIB";
  background-color: hsl(166, 70%, 62%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(14, 15, 14);
  position: relative;
  width: 80%;
  margin: auto;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cast-card {
  font-family: "DS-DIGIB";
  background-color: transparent;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: rgb(14, 15, 14);
  position: relative;
  border-radius: 0px;
  height: 195px;
  width: 200px;
  margin: auto;
  padding: 10px;
  outline-style: groove;
  outline-width: 0px;
  outline-color: black;
  position: absolute;
  top: 42px;
  right: 40px;
  left: 30px;
  }

.display-card {
  display: grid;
  font-family: "DS-DIGIB";
  background-color: hsl(96, 92%, 60%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(14, 15, 14);
  position: relative;
  border-radius: 5px;
  height: 300px;
  width: 275px;
  margin: auto;
  padding: 10px;
  outline-style: groove;
  outline-width: 2px;
  size: absolute;
  

  
}
::-webkit-scrollbar {
  width: 20px
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: hsl(289, 69%, 46%); 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #be61b8; 
}

/* .next-post {
  background-color: grey;
  position: absolute;
  top: 200px;
  right: 130px;
  padding: 10px 30px;
  border-color: black;
}

.previous-post {
  background-color: grey;
  position: absolute;
  top: 200px;
  right: 200px;
  padding: 10px 30px;
  border-color: black;
} */

.down-post {
  background-color: transparent;
  position: absolute;
  top: 160px;
  right: 15px;
  padding: 30px 10px;
  border-color: transparent;
}

.up-post {
  background-color: transparent;
  position: absolute;
  top: 95px;
  right: 15px;
  padding: 30px 10px;
  border-color: transparent;
}

.likes {
  position: absolute;
  top: 230px
}

.delete-button {
  position: absolute;
  top: 207px;
  right: 87px;
  background-color: transparent;
  border-color: transparent;
}

.like-button {
  position: absolute;
  top: 200px;
  right: 140px;
  padding: 1px 15px;
  border-color: grey;
  background-color: rgb(69, 69, 66);
  font-size: large;
}

.dislike-button {
  position: absolute;
  top: 200px;
  right: 200px;
  padding: 1px 15px;
  border-color: grey;
  font-size: large;
  background-color:rgb(69, 69, 66);
}

.head {
  font-family: "DS-DIGIB";
  background-color: hsl(96, 92%, 60%);
  
  border-color: grey;
  border-radius: 10px;
  width: 40%;
  margin: auto;
}

body {
  background-color: beige;
  background-repeat: no-repeat, repeat;
  height: 800px;
  background-position: center;
  background-size: cover;
}
